@model IEnumerable<TestApp.ViewModels.ProductViewModel>

@{
    <table>
        <tr>
            <th>Id</th>
            <th>ProductName</th>
            <th>Price</th>
        </tr>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.ProductId</td>
                <td>@p.ProductName</td>
                <td>@p.Price</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = p.ProductId })</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = p.ProductId })</td>
            </tr>
        }
    </table>
    <br />

    @Html.ActionLink("Insert New", "Insert");
}
