@using ClientMVC.Models
@model Product


<h1>Create</h1>

@using (@Html.BeginForm("Create", "Product", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    @Html.LabelFor(p => p.Name)
    @Html.EditorFor(p => p.Name)
    @Html.ValidationMessageFor(p => p.Name)
    <br />

    @Html.LabelFor(p => p.Price)
    @Html.EditorFor(p => p.Price)
    @Html.ValidationMessageFor(p => p.Price)
    <br />

    <input name="Insert" type="submit" />
}

