@using ClientMVC.Models
@model IEnumerable<Product>

<h1>List of products</h1>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(p => p.Name)
            </th>
            <th>
                @Html.DisplayNameFor(p => p.Price)
            </th>
            <th>
                Edit links
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product p in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(pr => p.Name)
                </td>
                <td>
                    @Html.DisplayFor(pr => p.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = p.ProductId})
                    @Html.ActionLink("Delete", "Delete", new { id = p.ProductId})
                </td>
            </tr>
        }
    </tbody>
    
    @Html.ActionLink("Create new", "Create")
</table>

