@model FiscalClientMVC.ViewModels.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    @using (@Html.BeginForm("Login"))
    {
        @Html.ValidationSummary(true);

        @Html.LabelFor(a => a.UserName)
        @Html.EditorFor(a => a.UserName)
        @Html.ValidationMessageFor(a => a.UserName)
        <br />
        @Html.LabelFor(a => a.Password)
        @Html.EditorFor(a => a.Password)
        @Html.ValidationMessageFor(a => a.Password)
        <br />
        <input type="submit" value="LogIn" />
    }
</body>
</html>
