@model FiscalClientMVC.Models.Customer
@*@Html.EditorForModel()*@

<h1>Create new customer</h1>
<br />

@using (@Html.BeginForm("Create", "Customer", FormMethod.Post))
{
    @Html.LabelFor(c => c.Name)
    <br />
    @Html.EditorFor(c => c.Name)
    <br />

    @Html.LabelFor(c => c.Email)
    <br />
    @Html.EditorFor(c => c.Email)
    <br />

    @Html.LabelFor(c => c.Address)
    <br />
    @Html.EditorFor(c => c.Address)
    <br />

    @Html.LabelFor(c => c.IsRetail)
    <br />
    @Html.EditorFor(c => c.IsRetail)
    <br />

    <input type="submit" value="Save Customer" />
}

