@model FiscalClientMVC.Models.Customer

<h1>Customer details</h1>
<br />
@Html.DisplayNameFor(c => c.CustomerId)
@Html.DisplayFor(c => c.CustomerId)
<br />
@Html.DisplayNameFor(c => c.Name)
@Html.DisplayFor(c => c.Name)
<br />
@Html.DisplayNameFor(c => c.Address)
@Html.DisplayFor(c => c.Address)
<br />
@Html.DisplayNameFor(c => c.Email)
@Html.DisplayFor(c => c.Email)
<br />
@Html.DisplayNameFor(c => c.IsRetail)
@Html.DisplayFor(c => c.IsRetail)

<br/>
@Html.ActionLink("View all customers", "Index")


